
@{
}

<h2>About Us</h2>
<br />
<p>
	Now celebrating 42 years in business Moviestore is the home of the internet's finest collection of photographs,  posters and memorabilia from movies, television, music, sport and international celebrity and entertainment.
</p>
</br>
<p>
	Collecting movie star photos has been the passion of Moviestore's owner Simon Parker and he has amassed one of the most unique collections in the world. Now these wonderful images are available to fans and collectors via Moviestore's website with hundreds of new items added each week.
</p>
</br>
	<p>
		Our photographs are 100% lab printed on top grade archival real photographic paper and our skilled production team ensure that each photograph is printed to the very highest quality - bright vibrant colors or stunning black and white tones.
	</p>
</br>
	<p>
		We offer all our images in a wide variety of sizes and are poster size prints are printed on the finest grade 280gsm archival paper.
    </p>
<br />
	<h5>OUR GUARANTEE TO YOU</h5>
	<br />
	<p>
	If you are not completely satisfied with any product purchased from Moviestore we will gladly refund your money or provide an alternative replacement.

	We ship from our offices in Sousse Tunisie to worldwide.
	</p>